<%- include('partials/header'); -%>
<%# <div id="contact" class="others">
  <h1></h1>
</div>
</div>
</section> %>

<section id="contact">
  <div class="container-fluid">
    <div class="others">
      <h1>contact me.</h1>
    </div>
  </div>
</section>

<body>
<section id="others">
  <div class="container-fluid">
    <div class="row">
      <div class="description-box col-12">
        <div class="card">
        <div class="card-body">
          <%= contactContent %>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>


<%- include('partials/footer'); -%>
