.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar-default .navbar-nav>li>a{
  color:black;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: #f4f4f4;
    color:black !important;
    font-family: "Syne";
}
.navbar-default .navbar-brand:hover{
    color: #222831;
}
.navbar-brand {
  font-family: "Syne";
  font-size: 3rem;
  color: #222831 !important;
}
.navbar-nav  li a:hover {
    color: #f0a500 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
  bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #f0a500;
}

.footer p {
  font-family: "Syne";
  letter-spacing: 2px;
	margin-top: 15px;
  margin-bottom: 15px;
	font-size: 15px;
  color: #fff;
}
h1 h2 h3 h4 h5 p{
  font-family: "Montserrat";
}
