body{
  position: relative;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Epilogue";
  padding-bottom: 58px;
}
h1{
  background-color: white;
  width: 500px;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
}
/* Headings background*/
#heading, #post, #about, #contact, #admin, #compose{
  background-attachment: fixed;
  background-size: cover;
}
#admin{
  background-image: url("../img/admin.jpg");
}
#heading{
  background-image: url("../img/landscape.jpg");
}
#post{
  background-image: url("../img/journey.jpg");
}
#about{
  background-image: url("../img/about2.jpg");
}
#contact{
  background-image: url("../img/contact.jpg");
}
#compose{
  background-image: url("../img/compose.jpg");
}
/* Nabar */
#nav .container-fluid {
    padding: 0 0;
    text-align: left;
}
.navbar{
  font-weight: 300;
  padding: 1rem 0;
  background-color: white;
}
.navbar-light .navbar-nav .nav-link{
  color:black;
  font-weight: 500;
  font-family: "Ubuntu";
  font-size: 1rem;
}
.navbar-nav{
  padding-right: 50px;
}
.nav-item{
  padding: 0 1.5rem;
}
.navbar-brand {
  font-weight:700;
  font-size: 1.5rem;
  color:black !important;
  padding: 0 60px;
}
/* Home heading */
.heading{
  padding: 15% 0 15% 0;
  text-align: center;
}
.heading h1{
  font-weight: bold;
  margin: auto;
}
/* Headings */
.others-title{
  padding: 8% 0 8% 0;
  text-align: center;
}
.others-title h1{
  margin-left: 85px;
  font-weight: bold;
}

#others .card-body{
  color:black;
}
#others .container-fluid{
  padding: 30px 100px 10px;
}
#signin .container-fluid{
  background-color: white;
  color:white;
}
#signin .others-title{
  padding: 5% 0 5% 0;
}
#signin h1{
  margin: auto;
  background-color: black;
}
#others .btn{
  color: white;
}

#admin-body .card-body{
  color:black;
}
#admin-body .container-fluid{
  padding: 30px 100px 10px;
}
#admin-body .btn{
  color:white;
}
#admin-body .card{
  min-height: 0;
}
/* Footer */
.footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}


.delete{
  padding-left: 10px;
  color: #dc3545 !important;
}
/* Post box on home page */
#description{
  text-align: center;
  margin-bottom: 20px;

}
#description .container-fluid{
  padding: 30px 100px 0px;
}
.card-header{
  border: none;
  background-color: white;
  padding: .75rem 1.25rem;
}
.description-box{
  padding-bottom: 30px;
}
.description-box a{
  text-decoration: none;
  color:black;
}
.description-box a:hover{
  color:#8f8f8f;
}
.card{
  min-height: 400px;
  border-radius: 0;
  background-color: white;
  border: none;
  position: relative;
}
#author{
  position: absolute;
  bottom: 1rem;
}
.card-header h3{
  margin-top: 10px;
  font-weight: 700;
}
.card-header span{
  color:#8f8f8f;
  font-weight: 200;
  letter-spacing: 2px;
}
.card-body{
  padding: 1.25rem 1.25rem 3rem;
  font-weight: 200;
  color:black;
  line-height: 2rem;
}
#author{
  text-align: left;
  color:#8f8f8f;
  padding-top: 2rem;
}
/* Mobile */
@media (max-width: 992px){
  /* #title{
    text-align: center;
  }
  .heading h1{
    font-size: 50px;
    line-height: 1;
    padding-left: 5px;
  }
  .heading h3{
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .container-fluid {
    padding: 5% 5%;
  }
  #title .container-fluid{
    padding: 3% 5%;
  }
  .testimonial-text{
    font-size: 1.8rem;
  }
  */

  .description-box{
    padding-bottom: 15px;
  }
  /* #tools{
    min-height: 40vh;
  } */
}
@media (max-width: 768px){
  .others-title h1{
    margin-left: 0;
  }
  #others .container-fluid {
    padding: 1rem 2rem 1rem;
}
#description .container-fluid {
    padding: 1rem 2rem 1rem;
}
#admin-body .container-fluid{
  padding: 1rem 2rem 1rem;
}
.container-fluid{
  padding: 0;
}
#heading, #post, #about, #contact, #admin, #compose{
background-attachment: inherit;
padding: 1rem 2rem 1rem;
}
h1{
  font-size: 1.75rem;
  width: auto;
}
#signin .others-title {
    padding: 0 0 0 0;
}
}
/* SIGN IN STYLE */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
  text-align: center;
  border-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-group input[type="text"],.form-group textarea{
  margin-bottom: 5px;
}
.btn{
  border-radius: 0;
}
.sign{
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
